.container

    max-width: 1600px
    width: 100%
    margin: 0 auto
    padding: 0 40px
    position: relative

    @media (max-width: $tabletScreen)
        padding: 0 20px

.content
    margin-top: 80px
    padding-bottom: 24px
    flex: 1
    display: flex
    flex-direction: column
    align-items: stretch
    gap: 64px

    @media (max-width: $tabletScreen)
        gap: 48px
        margin-top: 64px