/*!****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/assets/styles/styles.sass ***!
  \****************************************************************************************************************************************************/
@font-face {
  font-family: "Fira Code";
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/a81da37f7831691b78df.woff) format("woff");
}
@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/a25d3a54ca0de3944eb7.woff) format("woff");
}
@font-face {
  font-family: "Fira Code";
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/97af194ae4a793b66f40.woff) format("woff");
}
@font-face {
  font-family: "Fira Code";
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/4558fb863ac61e930234.woff) format("woff");
}
@font-face {
  font-family: "Fira Code";
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/e3428b597c378e1fdcb0.woff) format("woff");
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
details,
header,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  appearance: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  background-color: var(--background);
  color: var(--white);
  font-family: "Fira Code", monospace;
  display: flex;
  gap: 112px;
  flex-direction: column;
}

.dots {
  width: 10vmin;
  height: auto;
}
.dots circle {
  fill: var(--gray);
}

.hamburger {
  width: 32px;
  margin: 0;
  aspect-ratio: 1;
  display: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 32px;
  z-index: 9999;
}
.hamburger::before, .hamburger::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 30%;
  background-color: var(--gray);
  transition: all 0.2s ease;
}
.hamburger::after {
  width: 75%;
  top: 70%;
  right: 0;
}
@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .hamburger:checked::after {
    transform: translateY(-50%) rotateZ(45deg);
    width: 100%;
    top: 50%;
  }
  .hamburger:checked::before {
    transform: translateY(-50%) rotateZ(-45deg);
    top: 50%;
  }
  .hamburger:checked ~ .media-header {
    display: flex;
    top: calc(100% - 16px);
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 9999;
  }
  .hamburger:checked ~ .media-header .media {
    width: 48px;
  }
  .hamburger:checked ~ .media-header .media-header__links {
    display: flex;
    gap: 16px;
  }
  .hamburger:checked ~ .media-header .media-header__line {
    display: none;
  }
  .hamburger:checked ~ .container {
    width: 100vw;
    height: 100vh;
  }
  .hamburger:checked ~ .container .header__inner {
    align-items: start;
  }
  .hamburger:checked ~ .container .header__links {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: -32px;
    transform: translateY(100%);
    font-size: 24px;
  }
}

.header {
  padding-top: 24px;
  padding-bottom: 8px;
  background-color: var(--background);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: relative;
}
.header__links {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.header__link {
  color: var(--gray);
}
.header__link_active {
  font-weight: 600;
  color: var(--white);
}
.header__link::before {
  content: "#";
  color: var(--primary);
  font-weight: normal;
}
.header__link:hover {
  color: var(--white);
}
@media (max-width: 1024px) {
  .header {
    padding-top: 16px;
  }
  .header__links {
    display: none;
  }
}

.footer {
  max-width: inherit;
  width: 100%;
  border-top: 1px solid var(--gray);
  padding-top: 32px;
  margin-top: 100px;
  margin-bottom: 16px;
}
.footer__copyright {
  color: var(--gray);
  text-align: center;
}
.footer__header {
  display: flex;
  gap: 32px;
}
.footer__email {
  color: var(--gray);
}
.footer__email:hover {
  color: var(--white);
}
.footer__description {
  margin-top: 16px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 48px;
}
.footer__list {
  display: flex;
  gap: 8px;
}
.footer__title {
  font-weight: 500;
  font-size: 24px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid var(--primary);
  font-weight: 500;
}
.button:hover {
  background-color: var(--primary-op);
}
.button__secondary {
  border-color: var(--gray);
  color: var(--gray);
}
.button__secondary:hover {
  background-color: var(--gray-op);
}

.media {
  width: 32px;
  aspect-ratio: 1;
}
.media__icon {
  width: 100%;
  aspect-ratio: 1;
}
.media__icon:hover {
  filter: brightness(0) invert(1);
}

.path {
  align-self: start;
  display: block;
  width: 100%;
}
.path__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 32px;
}
@media (max-width: 768px) {
  .path__content {
    flex-direction: column;
    align-items: flex-start;
  }
}
.path__name {
  font-size: clamp(24px, 3.5vw, 32px);
  font-weight: 600;
}
.path__name::before {
  content: "/";
  color: var(--primary);
}
.path__description {
  color: var(--gray);
  margin-top: 8px;
}

.filter-bar__search {
  position: relative;
  width: 250px;
}
@media (max-width: 768px) {
  .filter-bar__search {
    width: 100%;
  }
}
.filter-bar__input {
  width: 100%;
  background: transparent;
  border: 1px solid var(--gray);
  color: #fff;
  padding: 8px 16px;
  font-family: inherit;
  transition: border-color 0.3s;
}
.filter-bar__input:focus {
  outline: none;
  border-color: var(--primary);
}
.filter-bar__input:focus + .filter-bar__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.filter-bar__dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: var(--background);
  border: 1px solid var(--primary);
  margin-top: 4px;
  padding: 16px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.filter-bar__dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.filter-bar .filter-category {
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  color: var(--gray);
  transition: all 0.2s;
  border-bottom: 1px solid rgba(var(--gray-rgb), 0.1);
}
.filter-bar .filter-category:hover {
  color: var(--primary);
  background: rgba(var(--primary-rgb), 0.05);
  padding-left: 16px;
}

.h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  float: none;
  clear: both;
  display: inline-block;
}
.h2::before {
  content: "#";
  color: var(--primary);
}
.h2::after {
  content: "";
  display: block;
  width: 10vw;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  transform: translate(100%, -50%);
  right: -16px;
  top: 50%;
}

.container {
  max-width: min(1600px, 95vw);
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1024px) {
  .container {
    padding: 16px;
  }
}

.content {
  margin-top: 80px;
  padding-bottom: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.logo {
  display: flex;
  gap: 12px;
  align-items: center;
}
.logo__img {
  aspect-ratio: 1;
  width: 32px;
}
.logo__name {
  font-weight: 700;
  font-size: 1.2rem;
}

:root {
  --primary: hsl(287 60% 65%);
  --primary-op: hsl(287 60% 65%/0.1);
  --gray: hsl(219 14% 71%);
  --gray-op: hsl(219 14% 71%/0.1);
  --background: hsl(218 12% 18%);
  --white: hsl(0 0% 100%);
}
