.quote
    background: rgba(255, 255, 255, 0.02)
    border: 1px solid rgba(255, 255, 255, 0.1)
    border-radius: 12px
    position: relative
    margin: 0
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1)

    &::before, &::after
        content: '"'
        position: absolute
        color: var(--gray)
        font-size: 64px
        font-weight: 700
        background-image: linear-gradient(var(--background), var(--background))
        background-size: 100% 40%
        background-repeat: no-repeat


    &::before
        top: -32px
        left: 16px

    &::after
        bottom: -64px
        right: 16px

    @media (max-width: $tabletScreen)
        &::before, &::after
            font-size: 48px
        &::before
            top: -24px
        &::after
            bottom: -48px

    &__text
        padding: 32px
        font-size: 24px
        font-weight: 500

    &__author
        position: absolute
        background: rgba(255, 255, 255, 0.03)
        backdrop-filter: blur(5px)
        color: var(--white)
        border: 1px solid rgba(255, 255, 255, 0.1)
        border-radius: 8px
        padding: 8px 16px
        right: -1px
        font-size: 16px
        transition: all 0.3s ease

        &::before
            content: "- "

    @media (max-width: $tabletScreen)
        &__text
            padding: 24px
            font-size: 18px
        &__author
            font-size: 14px
            position: relative
            display: block
            width: fit-content
            margin-left: auto
            margin-top: -1px
